# Authentication credentials for login and authorization
USER_LAST_NAME=<LAST_NAME>
USER_LICENSE_NUMBER=<LICENCE_NUMBER>
USER_KEYWORD=<KEYWORD>

# Gmail API configuration
SENDER_EMAIL=<SAMPLE@gmail.com>
TO_EMAIL=<SAMPLE@gmail.com>

# Google Account credentials
APP_PASSWORD=

# Script configuration
CHECK_AVAILABILITY_INTERVAL=15  # Check for availability within this many days

# Google API User ID (generally 'me' for the authorized user)
GMAIL_USER_ID=me
