[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "==0.24.0"
sqlalchemy = "==2.0.23"
psycopg2-binary = "==2.9.9"
python-jose = "==3.3.0"
passlib = "==1.7.4"
python-multipart = "==0.0.6"
email-validator = "==2.1.0"
python-dotenv = "==1.0.0"
bcrypt = "==4.0.1"
pydantic = "~=2.11"
pydantic-settings = "==2.1.0"
alembic = "*"
pytest = "*"
httpx = "*"
starlette = "*"
requests = "*"
pytest-snapshot = "*"
pytest-cov = "*"

[dev-packages]
notebook = "*"

[requires]
python_version = "3.12"
